<!-- Main Interface -->

<div class="main-container">

    <div class="text-overlay">
        
        A web application for Team Career Camp to manage student interviews
    </div>

    <div class="buttons">
        <a href="/students" class="btn btn-primary custom-btn">View Students</a>
        <a href="/scheduledInterview" class="btn btn-primary custom-btn">Post
            Interview</a>
    </div>
    <img src="/images/background-image.jpg" alt="banner">

</div>
