<!-- Registration Page  -->
<form action="/register" method="post">

  <div class="login-container">
    <% if(errorMessage) { %>
    <div class="alert alert-danger" role="alert">
      <%= errorMessage %>
    </div>
    <% } %>

    <h2 class="fw-bold mb-2 text-uppercase">Register</h2>

    <div class="input-group margin">
      <span class="input-group-text ">Name</span>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>

    <div class="input-group margin">
      <span class="input-group-text ">Email</span>
      <input required name="email" type="email" aria-label="email"
        class="form-control" placeholder="enter your email">
    </div>

    <div class="mb-3">
      <div class="input-group ">
        <span class="input-group-text">Password</span>
        <input required name="password" type="password" aria-label="password"
          class="form-control" placeholder="enter your password">
      </div>
    </div>

    <button type="submit"
      class="btn btn-md mt-2 lbtn login-button">Register</button>

    <p>Already have an account? <a href="/login" class="link-info">Login
        here</a></p>

  </div>
</form>